.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  flex-wrap: wrap;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  .navbar-collapse {
.navbar-collapse {
  background-color: var(--bs-dark); // Même couleur exacte que bg-dark sur le <nav>
}  }

  .navbar-brand a {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
  }

  .nav-link {
    color: #ddd;

    &:hover, &.active {
      color: #fff;
      font-weight: bold;
    }
  }
}